# AWS S3 remote backend description
terraform {
  backend "s3" {
    bucket  = "<your_bucket_name"
    key     = "ansible-provisioner-local/terraform.tfstate"
    region  = "<your_region>"
    encrypt = true
  }
}
