terraform {
  backend "remote" {
    hostname     = "app.terraform.io"
    organization = "<your-organization-name>"
    token        = "<your-secret-token>"

    workspaces {
      name = "tf-inline-inventory"
    }
  }
}